* {
  box-sizing: border-box;
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url(./proximanova-semibold-webfont.ttf);
}

@font-face {
  font-family: ProximaNova-Light;
  src: url(./proximanovalight.ttf);
}


.App_main-body {
  margin: 1.88rem 4.81rem;
}
