.quantityWidget {
    width: 5rem;
    height: 1.5rem;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.quantityWidget p {
    display: inline-block;
    height: 100%;
    color: #287DCE;
    font-family: ProximaNova-Semibold;
    font-size: 1rem;
    position: absolute;
    margin: 0;
    cursor: pointer;
    user-select: none;
}

.quantityWidget p:nth-child(1) {
    left: 0.47rem;
    top: 0.20rem;
}

.quantityWidget p:nth-child(3) {
    right: 0.38rem;
    top: 0.25rem;
}

.quantityWidget input {
    width: 2.5rem;
    height: 1.4rem;
    text-align: center;
    border: none;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    outline: none;
    padding: 0;
    font-family: ProximaNova-Semibold;
    font-size: 0.88rem;
    color: #222222;
    line-height: 1rem;
}